/* 
	Global classes 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: 'Helvetica Neue', Avenir, sans-serif;
}

a:visited, a:link {
	color: inherit;
	text-decoration: none;
}

/* 
	index.html 
					*/

#lock-screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-image: url("images/lock-screen.jpg");
	background-size: 300px 530px;
}

#emerg-notif {
	height: 100px;
	width: 260px;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 170px;
	text-align: center;
	position: absolute;
	color: white;
	background-color: rgb(232,0,0); 
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.emergency-text {
	margin-top: 10px;
	margin-bottom: 0px
}

.notification-text {
	margin-bottom: 0px;
	margin-top: 5px;
}

.click-text {
	margin-bottom: 0px;
	margin-top: 7px;
}

/*home-page.html*/

#home-screen {
	height: 530px;
	width: 300px;
	margin: 97px 23px;
	background-color: dimGrey; /*#ffe6b3; */
	display: inline-block;
}

#home-head-bar {
	height: 50px;
	width: 278px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	line-height: 50px;
	background-color: #ee2b2b;
	color: white;
	border-radius: 5px;
}

.head-bar-text {
	margin-top: 8px;
}

#home-button-wrapper {
	height: 469px;
	width: 300px;
	margin-top: 0px;
}

#live-map-button {
	height: 140px;
	width: 260px;
	background-size: 260px 146px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
	line-height: 140px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	opacity: .80;
	background-image: url("images/map-button.jpg")
}


#alerts-button {
	height: 140px;
	width: 260px;
	background-size: 260px 146px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
	line-height: 140px;
	font-size: 40px;
	font-weight: bold;
	opacity: .80;
	background-color: #ff1a1a;
}

#call-button {
	height: 140px;
	width: 260px;
	background-size: 260px 146px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
	text-align: center;
	line-height: 140px;
	font-size: 40px;
	font-weight: bold;
	opacity: .80;
	background-color: #009933;
}

/*live-map.html*/

#map-screen {
	height: 530px;
	width: 300px;
	margin: 106px 23px;
	background-size: 300px 530px;
	background-image: url("images/live-map-background.png");
}

#police-station-icon img {
	height: 25px;
	width: 25px;
	margin-left: 167px;
	margin-top: 108px
}

#hospital-icon img {
	height: 30px;
	width: 30px;
	margin-left: 34px;
	margin-top: 39px;
}

#back-button img {
	height: 35px;
	width: 35px;
	margin-top: 5px;
	margin-left: 50px;
	float: left;
}

#phone-icon img {
	height: 30px;
	width: 30px;
	margin-top: 7px;
	margin-left: 57px;
	float: left;
}

#half-bar {
	width: 142px;
	height: 45px;
	float: left;
	text-align: center;
	border: 1px solid black;
}

#map-bottom-bar {
	width: 288px;
	height: 45px;
	margin-top: 264px;
	margin-left: 6px; 
	background-color: white;
	text-align: center;
}


/* 
	cards.html 
					*/

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: DimGray; /*#FFE6B3; */
}

.card {
	height: 75px;
	width: 250px;
	margin: 20px 0px 0px 23px; /*30px*/
	display: inline-block;
	text-shadow: -1px -1px 0 #FFFFFF -1px -1px 0 #FFFFFF -1px -1px 0 #FFFFFF -1px -1px 0 #FFFFFF;
	border-radius: 10px;
}

.green {
	background-color: #009933;
	opacity: 0.8;
}

.yellow {
	background-color: #FFDE2F;
	opacity: 0.8;
}

.blue {
	background-color: aqua;
	opacity: 0.8;
}

.distance-text {
	margin-left: 170px;
	margin-bottom: 0px;
}

.call-text {
	margin-top: 15px; /*5px*/
	opacity: 1;
	font-weight: bold;
	text-shadow: -1px -1px 0 #FFFFFF -1px -1px 0 #FFFFFF -1px -1px 0 #FFFFFF -1px -1px 0 #FFFFFF;
	text-align: center;
}

.ETA-text {
	text-align: right;
	margin: -5px 7px 0px 0px;
}

.nav-text {
	color: black;
	font-weight: bold;
	display: inline-block;
	margin: 30px 0px 0px 15px;
}

.nav-text2 {
	color: black;
	font-weight: bold;
	display: inline-block;
	margin: 30px 24px 0px 15px;
}

#cancel {
	margin-left: 100px;
}

/* 
	Phone call screens
					*/

#call-screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-image: url("images/call-screen.jpg");
	background-size: 300px 530px;
}

#call-tag {
	height: 65px;
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 30px;
	background-color: #232323;
}

#caller-id {
	margin-top: 25px;
	color: #B4B4B4;
	font-size: 175%;
}

#hang-up {
	height: 65px;
	width: 66px;
	margin: 312px auto;
	border-radius: 50px;
}

/* 
	News Alerts
					*/

.alert-row {
	display: inline-block;
	height: 94;
	width: 100%;
	border-bottom: 1px solid grey;
}

#news-bottom-bar {
	width: 288px;
	height: 45px;
	margin-left: 6px; 
	background-color: #FFE6B3;
	text-align: center;
}

.news-date {
	color: black;
	margin: 8px 0px 10px 8px;
	font-weight: normal;
	font-size: 85%;
}

.news-text {
	font-weight: bold;
	margin-top: 0px;
	margin-left: 8px;
}

/* morecontacts.html */

.contacts-wrapper {

	border: 1px solid black;
	background-color: black;
	margin: 25px 40px 0 0;
	color: white;
	border-radius: 25px;
	text-align: center;
	list-style: none;

}

.top-contacts-wrapper {

	margin-top: -35px;
}

.bottom-contacts-wrapper {
	border: 1px solid black;
	background-color: black;
	margin: 25px 40px -22px 0;
	color: white;
	border-radius: 25px;
	text-align: center;
	list-style: none;
}

.contacts-title{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

